@font-face
{
    font-family: 'BYekan';
    src: url('Font/fonts/BYekan.eot');
    src: local('b BYekan'), url('Font/fonts/BYekan.woff') format('woff'), url('Font/fonts/BYekan.ttf') format('truetype'), url('BYekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.post1, body
{
    line-height: 20px;
    font: 20px BYekan, Tahoma, Geneva, sans-serif;
    letter-spacing: .3px;
    margin: 10px 0 10px 0;
    clear: both;
}
.font
{
    font-family: 'B Yekan';
}
