@{
    ViewBag.Title = "عملیات غیرمجاز";
}

<div class="error text-center" style="margin-top: 100px">
    <div class="error-body">
        <img src="~/Content/warning.png" width="200" />
        <h1 class="error-heading">عملیات غیرمجاز!</h1>
        <h4 class="error-subheading" style="margin: 30px">امکان ویرایش یا حذف این آیتم تنها 24 ساعت بعد از ثبت آن و توسط همان کاربر ثبت کننده وجود دارد.</h4>
    </div>
</div>

@section toastr {
    @Html.Raw(TempData["SaveMessage"])
}
